<div class="row">
	<div class="col-md-12">
		<!-- BASIC -->
		<div class="box border green">
			<div class="box-title">
				<h4><i class="fa fa-bars"></i>Edit Fellowship</h4>
				
			</div>
			<div class="box-body">				
				  <%= render 'form' %>			
			</div>
		</div>
	</div>
</div>

<%= link_to 'Show', @fellowship %> |
<%= link_to 'Back', fellowships_path %>
