		<div class="row">
		<div class="col-md-9 col-md-offset-1 box-container">
								<!-- BOX WITH SPACE-->
								<div class="box border primary">
									<div class="box-title">
										<h4><i class="fa fa-cogs"></i><span class="hidden-inline-mobile">Hello, <%= session[:cas_user] %>!</span></h4>	
									</div>

									<div class="box-body big">
										<h4>What would you like to do?</h4>
										<div class="alert alert-info center">
											<!-- BUTTONS -->
																<div class="row">
																	<div class="col-md-6">
																		<a href="/users" class="btn btn-primary btn-icon input-block-level">
																			<i class="fa fa-users fa-2x"></i>
																			<div>Manage <br>Users</div>
																			
																		</a>
																	</div>
																	<div class="col-md-6">
																		<a href="/hospitals" class="btn btn-info btn-icon input-block-level">
																			<i class="fa fa-h-square fa-2x"></i>
																			<div>Manage <br> Hospitals</div>
																			
																		</a>
																	</div>
																	<div class="col-md-6">
																		<a href="/institutions" class="btn btn-inverse btn-icon input-block-level">
																			<i class="fa fa-book fa-2x"></i>
																			<div>Manage  <br> Institutions</div>
																			
																		</a>
																	</div>
																	<div class="col-md-6">
																		<a href="/languages" class="btn btn-warning btn-icon input-block-level">
																			<i class="fa fa-bullhorn fa-2x"></i>
																			<div>Manage  <br> Languages</div>
																		</a>
																	</div>
																</div>

																
																<div class="row">
																	<div class="col-md-6">
																		<a href="/permissiongroups" class="btn btn-danger btn-icon input-block-level">
																			<i class="fa fa-lock fa-2x"></i>
																			<div>Manage <br>Permission Groups</div>
																			
																		</a>
																	</div>

																	<div class="col-md-6">
																		<a href="/capstatuses" class="btn btn-pink btn-icon input-block-level">
																			<i class="fa fa-lock fa-2x"></i>
																			<div>Manage <br>CAP Statuses</div>
																			
																		</a>
																	</div>

																	
																	<div class="col-md-6">
																		<a href="/banner" class="btn btn-purple btn-icon input-block-level">
																			<i class="fa fa-cloud-download fa-2x"></i>
																			<div>Banner <br>Queue</div>
																			
																		</a>
																	</div>

																	<div class="col-md-6">
																		<a href="/basicsciencedisciplines" class="btn btn-primary btn-icon input-block-level">
																			<i class="fa fa-cloud-download fa-2x"></i>
																			<div>Manage <br>Basic Science Disciplines</div>
																			
																		</a>
																	</div>


																	<div class="col-md-6">
																		<a href="/clinicalsections" class="btn btn-info btn-icon input-block-level">
																			<i class="fa fa-cloud-download fa-2x"></i>
																			<div>Manage <br>Clinical Specialties</div>
																			
																		</a>
																	</div>


																	<div class="col-md-6">
																		<a href=" /facultytitles" class="btn btn-inverse btn-icon input-block-level">
																			<i class="fa fa-cloud-download fa-2x"></i>
																			<div>Manage <br>Faculty Titles</div>
																			
																		</a>
																	</div>

																	<div class="col-md-6">
																		<a href=" /faculty_classifications" class="btn btn-warning btn-icon input-block-level">
																			<i class="fa fa-cloud-download fa-2x"></i>
																			<div>Manage <br>Classifications</div>
																			
																		</a>
																	</div>

																	<div class="col-md-6">
																		<a href=" /evaluationstatuses" class="btn btn-danger btn-icon input-block-level">
																			<i class="fa fa-cloud-download fa-2x"></i>
																			<div>Manage <br>Evaluation Statuses</div>
																			
																		</a>
																	</div>

																	<!--
																	<div class="col-md-3">
																		<a href="/admin" class="btn btn-pink btn-icon input-block-level">
																			<i class="fa fa-dashboard fa-2x"></i>
																			<div><br>Admin Panel</div>
																			
																		</a>
																	</div>
																	<div class="col-md-3">
																		<a href="/faq" class="btn btn-primary btn-icon input-block-level">
																			<i class="fa fa-question fa-2x"></i>
																			<div>View<br>F.A.Q.</div>
																		</a>
																	</div>
																	-->
																</div>
															
																<!-- /BUTTONS -->
										</div> 
										<!--
										<h4>Announcements</h4>
										<ul>
											<li>ectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.ectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</li><br>
											<li>ectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.ectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</li><br>
											<li>ectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.ectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</li><br>
										</ul>
										-->
									</div>
								</div>
								<!-- /BOX WITH SPACE-->
</div>
<!-- JQUERY -->
<%= render 'shared/javascript' %>

<script>
        jQuery(document).ready(function() {     
            App.setPage("home");  //Set current page
            App.init(); //Initialise plugins and elements
        });
</script>