	<!-- PAGE -->
	<section id="page">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="divide-100"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 not-found text-center">
				   <div class="error">
					  404
				   </div>
				</div>
				<div class="col-md-4 col-md-offset-4 not-found text-center">
				   <div class="content">
					  <h3>Page not Found</h3>
					  <p>
						 Sorry, but the page you're looking for has not been found!<br />
						 Try checking the URL for errors, <a href="/home">goto home</a> 
					  </p>					
				   </div>
				</div>
			</div>
		</div>
	</section>
	<!-- JQUERY -->
	<%= render 'shared/javascript' %>

	<script>
	        jQuery(document).ready(function() {     
	            App.setPage("404");  //Set current page
	            App.init(); //Initialise plugins and elements
	        });
	</script>
