<div class="row">
							<!-- NAV -->
							<div class="col-md-3" id="list-toggle">
								<div class="list-group">
								  <a class="list-group-item active" data-toggle="tab" href="#tab1">
									<i class="fa fa-suitcase"></i> Posuere vulputate
								  </a>
								  <a class="list-group-item" data-toggle="tab" href="#tab2"><i class="fa fa-tags"></i> Lorem ipsum</a>
								  <a class="list-group-item" data-toggle="tab" href="#tab3"><i class="fa fa-user"></i> Dictumst non</a>
								  <a class="list-group-item" data-toggle="tab" href="#tab4"><i class="fa fa-sitemap"></i> Fusce vitae</a>
								  <a class="list-group-item" data-toggle="tab" href="#tab5"><i class="fa fa-arrows"></i> Viverra mauris</a>
								</div>
							</div>
							<!-- /NAV -->
							<!-- CONTENT -->
							<div class="col-md-9">
								<div class="tab-content">
								   <div id="tab1" class="tab-pane active">
									  <div id="accordion" class="panel-group">
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse1_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">1.  Lorem ipsum dolor sit amet, turpis risus aliquam, aliquet eu? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse1_1" style="height: 0px;">
												<div class="panel-body"> Lorem ipsum dolor sit amet, turpis risus aliquam, aliquet eu. Eleifend est sapien, amet pulvinar. Donec sed, velit suspendisse arcu, ut id sed. Molestie dolor vitae, felis consequat, suscipit morbi. Ut commodo duis, vehicula integer sed.</div>
											 </div>
										  </div>
										  <div class="panel panel-info">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse1_2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">2. Lacus risus, egestas dictum vel, quo consectetuer? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse1_2" style="height: 0px;">
												<div class="panel-body"> 
													Porta in. A ante. Magna nec. Dui lorem sed. Enim eget. Nulla risus. Dolor pede, suscipit dis, massa vel tincidunt.
												</div>
											 </div>
										  </div>
										  <div class="panel panel-success">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse1_3" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">3. Tincidunt arcu, fermentum id accumsan? </a> </h3>
											 </div>
											 <div class="panel-collapse in" id="collapse1_3" style="height: auto;">
												<div class="panel-body">
													Tincidunt arcu, fermentum id accumsan. Quis quis mauris, at augue massa. Pulvinar nibh, iaculis curabitur. Sodales orci maecenas. Elit vitae. Donec sem, ligula eros erat. Vestibulum vitae, ac nec duis, pharetra arcu venenatis. Cras curabitur id, aliquet suspendisse parturient, ante lorem varius. Ac molestie, nulla ante, sed vitae a.
												</div>
											 </div>
										  </div>
										  <div class="panel panel-danger">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse1_4" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">4. Amet rhoncus sed, ac eu nec, nibh elit? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse1_4">
												<div class="panel-body"> 
													Amet rhoncus sed, ac eu nec, nibh elit. Aptent imperdiet vestibulum, vehicula placerat sollicitudin. Ac nulla nulla. Fugiat lorem etiam. Wisi quam, senectus dolor dignissimos, lectus risus. Id pulvinar, leo nisi. Magna sollicitudin malesuada, fermentum arcu eu. Magna dui. Lectus adipiscing aliquet, vestibulum iaculis nunc, eget fusce lectus. At malesuada facilisis, odio tempor sed, eros donec
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse1_5" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">5. Lectus malesuada dolor, metus ac vestibulum, vitae mauris? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse1_5">
												<div class="panel-body">Lectus malesuada dolor, metus ac vestibulum, vitae mauris. Metus molestie, sit vivamus ac. Lacinia libero, vestibulum sit libero, in felis tincidunt. Fusce cras, quam vulputate. Phasellus semper ac, consequat porta, non et litora. </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse1_6" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">6. Maecenas sed sed? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse1_6">
												<div class="panel-body"> Maecenas sed sed. Sed lacinia maxime, in et. Tempor integer. Faucibus et, porta inceptos quam. Vitae id, amet suscipit metus. Felis torquent ullamcorper, justo metus. Laoreet suspendisse, eu hendrerit commodo. Sed sapien, dolores ac, integer scelerisque nec. Commodo est, quis platea. Accumsan pede orci. Sit sit.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse1_7" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">7. Libero vel metus? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse1_7">
												<div class="panel-body">
													Ut nunc. In ac, dolor sed, pellentesque sunt. Libero vel metus. Sem sit commodo. Libero ligula. Sed dis porttitor, sem ut felis, turpis magna id.
												</div>
											 </div>
										  </div>
									   </div>
								   </div>
								   <div id="tab2" class="tab-pane">
									  <div id="accordion" class="panel-group">
										  <div class="panel panel-danger">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse2_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">1. Ultricies felis ut? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse2_1">
												<div class="panel-body"> Quisque dolor etiam fringilla augue lacus. Eu mi voluptatem. Ut est lacinia. Metus habitant parturient hendrerit semper enim arcu praesent mi facilisis vestibulum nec nulla sed libero. Dui convallis urna sit aenean eu arcu integer sed. </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse2_2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">2.  Proin justo eu. Praesent arcu wisi. Leo faucibus sodales. Mus libero ac donec leo nisl elit libero sit. Pellentesque sagittis odio. Dolor mi sagittis? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse2_2">
												<div class="panel-body"> Lorem ipsum dolor sit amet, in imperdiet ac, amet scelerisque, elit amet ultricies. Et ullamcorper dolor. Lacus risus, egestas dictum vel, quo consectetuer. Velit natus urna. Nec hendrerit, vehicula dui dictumst. Natus et vitae, quis morbi placerat. In commodo. Pellentesque dignissim volutpat, nulla nec vulputate. Eros molestie sapien. Velit est, id ante est, mollis id velit. Nostra lacinia, porttitor lectus, pulvinar fermentum sodales.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse2_3" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">3. Nunc pellentesque magna. Suspendisse elementum tristique? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse2_3">
												<div class="panel-body">
													Curabitur amet. Nec amet, ornare eget wisi. Semper molestie, amet sit sit. Vitae dui felis. Duis eu, tellus tellus varius. Ipsum non mollis, vivamus adipiscing. Justo odio vitae, purus donec sapien, etiam et. Magna risus, eu facilis nunc, quam tellus in. Voluptatem eget dolor, mollis nulla eu.
												</div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse2_4" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">4. Mus libero ac donec leo nisl elit libero sit.? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse in" id="collapse2_4">
												<div class="panel-body"> 
													Vel vivamus, sed vestibulum in. Eleifend pariatur, nulla integer convallis. Praesent eu, mauris duis. Vel metus lorem, et tellus. Lectus molestie, ligula euismod nunc. Eu sociis tortor, vel praesent, justo gravida. Tellus luctus. Ullamcorper erat mauris, imperdiet aenean. Velit ac et. Non non erat, dolor in. Imperdiet nulla.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-success">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse2_5" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">5. Eget urna luctus. Cursus condimentum egestas? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse2_5">
												<div class="panel-body">At risus sapien. Ullamcorper dui lectus. Augue praesent elit arcu ac ipsum. Id rhoncus auctor. Massa mauris etiam. Vulputate faucibus purus accumsan magnis ultrices. Pharetra ornare ante. Varius sit dui.</div>
											 </div>
										  </div>
										  <div class="panel panel-warning">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse2_6" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">6. Eu mi voluptatem? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse2_6">
												<div class="panel-body"> 
													Vel vivamus, sed vestibulum in. Eleifend pariatur, nulla integer convallis. Praesent eu, mauris duis. Vel metus lorem, et tellus. Lectus molestie, ligula euismod nunc. Eu sociis tortor, vel praesent, justo gravida. Tellus luctus. Ullamcorper erat mauris, imperdiet aenean. Velit ac et. Non non erat, dolor in. Imperdiet nulla.
												</div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse2_7" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">7. Molestie mauris ac sit vel urna? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse2_7">
												<div class="panel-body">At risus sapien. Ullamcorper dui lectus. Augue praesent elit arcu ac ipsum. Id rhoncus auctor. Massa mauris etiam. Vulputate faucibus purus accumsan magnis ultrices. Pharetra ornare ante. Varius sit dui.</div>
											 </div>
										  </div>
									   </div>
								   </div>
								   <div id="tab3" class="tab-pane">
									  <div id="accordion" class="panel-group">
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse3_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">1. Ultricies felis ut? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse3_1">
												<div class="panel-body"> Quisque dolor etiam fringilla augue lacus. Eu mi voluptatem. Ut est lacinia. Metus habitant parturient hendrerit semper enim arcu praesent mi facilisis vestibulum nec nulla sed libero. Dui convallis urna sit aenean eu arcu integer sed. </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse3_2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">2.  Proin justo eu. Praesent arcu wisi. Leo faucibus sodales. Mus libero ac donec leo nisl elit libero sit. Pellentesque sagittis odio. Dolor mi sagittis? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse3_2">
												<div class="panel-body"> 
													At risus sapien. Ullamcorper dui lectus. Augue praesent elit arcu ac ipsum. Id rhoncus auctor. Massa mauris etiam. Vulputate faucibus purus accumsan magnis ultrices. Pharetra ornare ante. Varius sit dui.
												</div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse3_3" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">3. Nunc pellentesque magna. Suspendisse elementum tristique? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse3_3">
												<div class="panel-body">
													Lacus tristique eum. Nisl integer lectus. Neque dolor ac. Vitae lorem suscipit. Suspendisse ornare nulla ac lacus sed in odio magna. Nunc pellentesque magna. Suspendisse elementum tristique. Ultricies felis ut.
												</div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse3_4" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">4. Mus libero ac donec leo nisl elit libero sit.? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse3_4">
												<div class="panel-body"> 
													Posuere euismod pellentesque. Magna eget non. Erat mauris ac voluptatibus diam erat cras arcu ante. Ornare massa vitae. Ultricies sodales mattis. Ornare eget pellentesque. Dolor ante ridiculus.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse3_5" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">5. Eget urna luctus. Cursus condimentum egestas? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse in" id="collapse3_5">
												<div class="panel-body">Massa sit leo sit auctor ridiculus. Leo amet amet. Sit commodo nisl. Neque laoreet non. Ut aenean pellentesque augue curabitur tellus.</div>
											 </div>
										  </div>
										  <div class="panel panel-info">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse3_6" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">6. Eu mi voluptatem? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse3_6">
												<div class="panel-body"> Leo amet amet. Sit commodo nisl. Neque laoreet non. Ut aenean pellentesque augue curabitur tellus. Commodo in phasellus. Montes ac purus. Posuere euismod pellentesque.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-success">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse3_7" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">7. Molestie mauris ac sit vel urna? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse3_7">
												<div class="panel-body">Molestie mauris ac sit vel urna. Morbi suspendisse vel velit non mi. Sagittis vitae odio justo amet dui. Taciti vehicula convallis. Nisl mus quis. Sem erat et. Sem sed faucibus. Feugiat ut imperdiet. Curabitur conubia ut. Ac mauris nisl. Nunc amet et. Neque in eget. Ut bibendum dolor. Massa sit leo sit auctor ridiculus. </div>
											 </div>
										  </div>
									   </div>
								   </div>
								   <div id="tab4" class="tab-pane">
									  <div id="accordion" class="panel-group">
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse4_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">1. Ultricies felis ut? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse in" id="collapse4_1">
												<div class="panel-body"> Quisque dolor etiam fringilla augue lacus. Eu mi voluptatem. Ut est lacinia. Metus habitant parturient hendrerit semper enim arcu praesent mi facilisis vestibulum nec nulla sed libero. Dui convallis urna sit aenean eu arcu integer sed. </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse4_2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">2.  Proin justo eu. Praesent arcu wisi. Leo faucibus sodales. Mus libero ac donec leo nisl elit libero sit. Pellentesque sagittis odio. Dolor mi sagittis? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse4_2">
												<div class="panel-body"> While in communities:
													rat mauris ac voluptatibus diam erat cras arcu ante. Ornare massa vitae. Ultricies sodales mattis. Ornare eget pellentesque. Dolor ante ridiculus.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse4_3" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">3. Nunc pellentesque magna. Suspendisse elementum tristique? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse4_3">
												<div class="panel-body">Nunc amet et. Neque in eget. Ut bibendum dolor. Massa sit leo sit auctor ridiculus. Leo amet amet. Sit commodo nisl. Neque laoreet non. Ut aenean pellentesque augue curabitur tellus. </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse4_4" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">4. Mus libero ac donec leo nisl elit libero sit.? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse4_4">
												<div class="panel-body">  Eu diam eget. In leo mi. Morbi gravida varius. Lacus mus scelerisque. Eget urna luctus. Cursus condimentum egestas. Placeat est in. Egestas porttitor vestibulum eu vestibulum at.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse4_5" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">5. Eget urna luctus. Cursus condimentum egestas? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse4_5">
												<div class="panel-body">Massa sit leo sit auctor ridiculus. Leo amet amet. Sit commodo nisl. Neque laoreet non. Ut aenean pellentesque augue curabitur tellus.</div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse4_6" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">6. Eu mi voluptatem? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse4_6">
												<div class="panel-body"> Lorem ipsum dolor. Sit amet parturient. At anim a. Proin justo eu. Praesent arcu wisi. Leo faucibus sodales. Mus libero ac donec leo nisl elit libero sit.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse4_7" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">7. Molestie mauris ac sit vel urna? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse4_7">
												<div class="panel-body">Commodo in phasellus. Montes ac purus. Posuere euismod pellentesque. Magna eget non</div>
											 </div>
										  </div>
									   </div>
								   </div>
								   <div id="tab5" class="tab-pane">
									  <div id="accordion" class="panel-group">
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse5_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">1. Ultricies felis ut? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse5_1">
												<div class="panel-body"> Quisque dolor etiam fringilla augue lacus. Eu mi voluptatem. Ut est lacinia. Metus habitant parturient hendrerit semper enim arcu praesent mi facilisis vestibulum nec nulla sed libero. Dui convallis urna sit aenean eu arcu integer sed. </div>
											 </div>
										  </div>
										  <div class="panel panel-success">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse5_2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">2.  Proin justo eu. Praesent arcu wisi. Leo faucibus sodales. Mus libero ac donec leo nisl elit libero sit. Pellentesque sagittis odio. Dolor mi sagittis? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse5_2">
												<div class="panel-body"> While in communities:
													Erat mauris ac voluptatibus diam erat cras arcu ante. Ornare massa vitae. Ultricies sodales mattis. Ornare eget pellentesque. Dolor ante ridiculus.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-info">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse5_3" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">3. Nunc pellentesque magna. Suspendisse elementum tristique? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse5_3">
												<div class="panel-body">Nunc amet et. Neque in eget. Ut bibendum dolor. Massa sit leo sit auctor ridiculus. Leo amet amet. Sit commodo nisl. Neque laoreet non. Ut aenean pellentesque augue curabitur tellus. </div>
											 </div>
										  </div>
										  <div class="panel panel-warning">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse5_4" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">4. Mus libero ac donec leo nisl elit libero sit.? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse5_4">
												<div class="panel-body">  Eu diam eget. In leo mi. Morbi gravida varius. Lacus mus scelerisque. Eget urna luctus. Cursus condimentum egestas. Placeat est in. Egestas porttitor vestibulum eu vestibulum at.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-danger">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse5_5" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">5. Eget urna luctus. Cursus condimentum egestas? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse5_5">
												<div class="panel-body">Massa sit leo sit auctor ridiculus. Leo amet amet. Sit commodo nisl. Neque laoreet non. Ut aenean pellentesque augue curabitur tellus.</div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse5_6" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">6. Eu mi voluptatem? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse5_6">
												<div class="panel-body"> Lorem ipsum dolor. Sit amet parturient. At anim a. Proin justo eu. Praesent arcu wisi. Leo faucibus sodales. Mus libero ac donec leo nisl elit libero sit.
												 </div>
											 </div>
										  </div>
										  <div class="panel panel-default">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse5_7" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">7. Molestie mauris ac sit vel urna? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse" id="collapse5_7">
												<div class="panel-body">Commodo in phasellus. Montes ac purus. Posuere euismod pellentesque. Magna eget non</div>
											 </div>
										  </div>
									   </div>
								   </div>

									   </div>
								   </div>
</div>
<!-- JQUERY -->
<%= render 'shared/javascript' %>

<script>
        jQuery(document).ready(function() {     
            App.setPage("faq");  //Set current page
            App.init(); //Initialise plugins and elements
        });
</script>