<div class="row">
							<!-- NAV -->
							<div class="col-md-3" id="list-toggle">
								<div class="list-group">
								  <a class="list-group-item active" data-toggle="tab" href="#tab1">
									What is the COM database?
								  </a>
								  <a class="list-group-item" data-toggle="tab" href="#tab2"> How do I get support?</a>
								  <a class="list-group-item" data-toggle="tab" href="#tab3"> Why am I not able to see the data I want?</a>
								  <a class="list-group-item" data-toggle="tab" href="#tab4"> How do I get additional system training?</a>
								  <a class="list-group-item" data-toggle="tab" href="#tab5"> Can I export reports?</a>
								  <a class="list-group-item" data-toggle="tab" href="#tab6"> Data is not correct, how do I proceed?</a>
								</div>
							</div>
							<!-- /NAV -->
							<!-- CONTENT -->
							<div class="col-md-9">
								<div class="tab-content">
								   <div id="tab1" class="tab-pane active">
									  <div id="accordion" class="panel-group">
										  <div class="panel panel-danger">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse1_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">What is the COM database?</a> </h3>
											 </div>
											 <div class="panel-collapse collapse in" id="collapse1_1">
												<div class="panel-body"> COM Faculty/Staff Database is the central repository for vital faculty and staff information for FAU’s College of Medicine.  It is a reference library to answer students’ requests for assistance in locating fourth year clerkships and residency, as well as the repository for community affiliate preceptors.  Data is sourced from Banner and other providers, which is then consolidated into a central lookup resource.</div>
											 </div>
										  </div>
									   </div>
								   </div>
								   <div id="tab2" class="tab-pane">
									  <div id="accordion" class="panel-group">
										  <div class="panel panel-danger">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse2_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">How do I get support? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse in" id="collapse2_1">
												<div class="panel-body">Visit the CONTACT US page (CONTACT US) to contact the COM Faculty/Staff Database support team for general support issues.</div>
											 </div>
										  </div>					 
										
									   </div>
								   </div>
								   <div id="tab3" class="tab-pane">
									  <div id="accordion" class="panel-group">
										  <div class="panel panel-danger">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse3_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">Why am I not able to see the data I want? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse in" id="collapse3_1">
												<div class="panel-body">Depending on your user type, you may have restricted access and privileges to specific areas of the database</div>
											 </div>
										  </div>										 
									   </div>
								   </div>
								   <div id="tab4" class="tab-pane">
									  <div id="accordion" class="panel-group">
										  <div class="panel panel-danger">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse4_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">How do I get additional system training? </a> </h3>
											 </div>
											 <div class="panel-collapse collapse in" id="collapse4_1">
												<div class="panel-body">
													Visit the CONTACT US page (CONTACT US) to contact the COM Faculty/Staff Database support team for general support issues.
												</div>
											 </div>
										  </div>
										 
									   </div>
								   </div>
								   <div id="tab6" class="tab-pane">
									  <div id="accordion" class="panel-group">
										  <div class="panel panel-danger">
											 <div class="panel-heading">
												<h3 class="panel-title"> <a href="#collapse5_1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">Can I export reports?</a> </h3>
											 </div>
											 <div class="panel-collapse collapse in" id="collapse5_1">
												<div class="panel-body">Visit the CONTACT US page (CONTACT US) and specify the subject or area where data appears incorrect.</div>
											 </div>
										  </div>										  
										  
									   </div>
								   </div>

									   </div>
								   </div>
</div>
<!-- JQUERY -->
<%= render 'shared/javascript' %>

<script>
        jQuery(document).ready(function() {     
            App.setPage("faq");  //Set current page
            App.init(); //Initialise plugins and elements
        });
</script>