<div class="row">
		<div class="col-md-9 col-md-offset-1 box-container">
								<!-- BOX WITH SPACE-->
								<div class="box border orange">
									<div class="box-title">
										<h4><i class="fa fa-cogs"></i><span class="hidden-inline-mobile">Reporting</span></h4>	
									</div>

									<div class="box-body big">
										
										<div class="alert alert-info">
											 <ul>
												<li><a href="https://reports.fau.edu/ibi_apps/signin" target="_blank">Access Webfocus self-service analytics</a></li>
											</ul>
										</div> 


										<div class="row">
											<ul>
												<li><a href="reports/reportseven">Report #7</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /BOX WITH SPACE-->
</div>
<!-- JQUERY -->
<%= render 'shared/javascript' %>

<script>
        jQuery(document).ready(function() {     
            App.setPage("reports");  //Set current page
            App.init(); //Initialise plugins and elements
        });
</script>