<%= link_to 'Back', disciplinaryactions_path %>

<div class="row">
	<div class="col-md-12">
		<!-- BASIC -->
		<div class="box border red">
			<div class="box-title">
				<h4><i class="fa fa-bars"></i><%= @title %></h4>				
			</div>
			<div class="box-body">				
				  <%= render 'form' %>			
			</div>
		</div>
	</div>
</div>


<%= render 'shared/javascript' %>

<script>
        jQuery(document).ready(function() {     
            App.setPage("forms");  //Set current page
            App.init(); //Initialise plugins and elements

            $( "#disciplinaryaction_date" ).datepicker();
        });
</script>