<div class="row">
	<div class="col-md-12">
		<!-- BASIC -->
		<div class="box border red">
			<div class="box-title">
				<h4><i class="fa fa-bars"></i>Edit Faculty Classification</h4>				
			</div>
			<div class="box-body">	
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>

<%= link_to 'Show', @faculty_classification %> |
<%= link_to 'Back', faculty_classifications_path %>
