<div class="row">
	<div class="col-md-12">
		<!-- BASIC -->
		<div class="box border red">
			<div class="box-title">
				<h4><i class="fa fa-bars"></i><%= @title %></h4>				
			</div>
			<div class="box-body">				
				  <%= render 'form' %>			
			</div>
		</div>
	</div>
</div>


<%= render 'shared/javascript' %>

<script>
        jQuery(document).ready(function() {     
            App.setPage("forms");  //Set current page
            App.init(); //Initialise plugins and elements


            // when the #country field changes
		    $("#assignment_clinicaldivision_id").change(function() {
		    
		    //alert('RANK IN DA HOUSE!!!');

		    // make a POST call and replace the content
		    var division = $('#assignment_clinicaldivision_id').val();
		    
		    //alert(division);

		     if(division == "") division="0";
		       jQuery.get('/assignments/update_section_select/' + division, function(data){
		             $("#assignment_clinicalsection_id").html(data);
		     })

		    return false;
		  });


        });
</script>