<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @evaluationstatus.status %>
</p>


<%= link_to 'Edit', edit_evaluationstatus_path(@evaluationstatus) %> |
<%= link_to 'Back', evaluationstatuses_path %>
