<%= link_to 'Back', residencies_path %>

<div class="row">
	<div class="col-md-12">
		<!-- BASIC -->
		<div class="box border pink">
			<div class="box-title">
				<h4><i class="fa fa-bars"></i>New Residency</h4>				
			</div>
			<div class="box-body">				
				  <%= render 'form' %>			
			</div>
		</div>
	</div>
</div>

<%= render 'shared/javascript' %>

<script>
        jQuery(document).ready(function() {     
            App.setPage("new_residency");  //Set current page
            App.init(); //Initialise plugins and elements
        });
</script>