<p id="notice"><%= notice %></p>

<p>
  <b>Sectionname:</b>
  <%= @clinicalsection.sectionname %>
</p>


<%= link_to 'Edit', edit_clinicalsection_path(@clinicalsection) %> |
<%= link_to 'Back', clinicalsections_path %>
