<div class="row">
	<div class="col-md-12">
		<!-- BASIC -->
		<div class="box border primary">
			<div class="box-title">
				<h4><i class="fa fa-bars"></i>Edit Degree</h4>
				
			</div>
			<div class="box-body">				
				  <%= render 'form' %>			
			</div>
		</div>
	</div>
</div>

<%#= link_to 'Show', @degree %> |
<%= link_to 'Back', degrees_path %>
