<div class="row">
	<div class="col-md-12">
		<!-- BASIC -->
		<div class="box border red">
			<div class="box-title">
				<h4><i class="fa fa-bars"></i>Edit Permission Group</h4>
				<div class="tools hidden-xs">
					<a class="config" data-toggle="modal" href="#box-config">
						<i class="fa fa-cog"></i>
					</a>
					<a class="reload" href="javascript:;">
						<i class="fa fa-refresh"></i>
					</a>
					<a class="collapse" href="javascript:;">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="remove" href="javascript:;">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="box-body">				
				  <%= render 'form' %>			
			</div>
		</div>
	</div>
</div>
<%= link_to 'Back', permissiongroups_path %>
