
<div class="alert alert-info">
	<strong>Thank you for your inquiry! The College of Medicine Staff will be in contact with you soon.</strong>
</div>



<%= render 'shared/javascript' %>

<script>
    jQuery(document).ready(function() {   
      App.setPage("send_contact");  //Set current page
      App.init(); //Initialise plugins and elements      
    });
</script>